
* {
    text-decoration: none !important;
}

html, body, #root, .carsPage {
    background: #0B0B17;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.editArea {
    animation: fade 0.3s;
}

@keyframes fade {
    0% {
        height: 0;
    }

    100% {
        height: 30px;
    }
}
